@media (max-width: 767px) {

    .navbar-nav {
        padding-top: 0px;
    }
    .navbar-nav li {
        text-align: center;
    }
    .navbar-light .navbar-toggler {
        border-color: rgb(2, 137, 210);
    }
    .custom-nav {
        position: absolute;
        z-index: 111;
        background: #1f91d0;
        box-shadow: none;
        width: 200px;
        right: -7px;
        top: 100%;
        margin: 0;
        padding: 0;
    }
    .navbar-light .navbar-nav .nav-link {
        border: none;
        color: #fff !important;
    }
    .navbar-toggler {
        font-size: 1.25rem;
        line-height: 1;
        background-color: transparent;
        border: 1px solid transparent;
        border-radius: .25rem;
        float: right;
        margin: 0 auto;
        position: absolute;
        right: 0;
        bottom: 20px;
    }
    .logo img {
        width: 80%;
        margin-top: 10px;
    }
    .contact-address ul li i {
        position: static;
        margin: 5px auto;
        display: block;
    }
    .contact-address ul li {
        padding: 10px;
    }
    .footer-location ul li {
        display: inherit;
    }
    .contact-address h3 {
        padding-top: 10px;
    }
    .abt-ftr img {
        width: 80%;
        text-align: center;
        margin: 0 auto;
        display: block;
    }
    .footer-menu ul li {
        display: block;
    }
    .ngo-accordion {
        margin-left: 0;
    }
    .abt-ftr p {
        padding: 0;
        text-align: center;
    }
    .social-icon {
        text-align: center;
        margin-top: 40px;
        padding: 0;
    }
    .volunteer p {
        padding: 15px 16px;
    }
    .ngo-choose {
        text-align: center;
    }
    .abt-ftr1 {
        margin-top: 40px;
    }
    .product a {
        width: 80%;
    }
    .ngo-product img {
        padding: 30px 0;
    }
    .header-top-info ul {
        padding: 0;
    }
    .card-body {
        text-align: center;
    }
    .img-link {
        left: 30%;
    }
    .img-links {
        right: 30%;
    }
    .img-link:hover {
        left: 30%;
    }
    .img-links:hover {
        right: 30%;
    }
    .footer-location ul {
        padding: 0;
    }
    .footer-menu ul {
        padding: 0;
    }
    .header-donate {
        text-align: center;
        float: none;
    }
    .header-top-social {
        text-align: center;
    }
    .header-top-social ul {
        padding: 0;
    }
    .ongoing-project h4 {
        text-align: center;
    }
    .filter-button {
        padding: 10px;
        margin-left: 0;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .check-img ul li {
        display: block;
    }
    .gallery-list{
        height: 90px;
    }
    .testimonial-ngo {
        height: 470px;
    }
    .test-next{
        display: none;
    }
    .test-prev{
        display: none;
    }
}

@media (max-width: 576px) {
    .navbar-light .logo {
        width: 75%;
    }
    .ngo-abt p {
        padding-bottom: 20px;
    }
    .ngo-abt a {
        float: none;
    }
    .header-top-info ul li {
        padding-left: 4px;
    }

    .ngo-project a {
        float: none;
    }
    .ngo-project p {
        margin-bottom: 50px;
    }
    .ngo-buy {
        margin-left: 32%;
        margin-bottom: 35px;
        margin-top:0px;
    }

    .ngo-mail {
        width: 100%;
    }
    .btn-sub {
        width: 100%;
        margin-bottom: 20px;
    }
    .abt-ftr1 p {
        padding: 0;
    }
    .contact-address ul li i {
        position: static;
        margin: 5px auto;
        display: block;
        padding: 0 !important;
    }
    .social-icon {
        text-align: center;
    }

    .contact-address {
        background-size: cover;
        height: 550px;
        background-position: center;
    }
    .payment {
        margin-left: -20%;
    }
    .gallery-list
    {
        height: auto;
    }
    .gallery_product{
        padding: 0 15px;
    }
}

@media (max-width: 991px) {}

@media (min-width: 768px) and (max-width: 991px) {
    .contact-address ul li {
        position: relative;
        list-style: none;
        color: #fff;
        font-size: 17px;
        font-family: "f1";
    }
    .contact-address ul li i {
        position: static;
        margin: 5px auto;
        display: block;
    }
    .contact-address ul li {
        padding: 5px;
    }
    .footer-location ul li {
        display: inherit;
    }
    .abt-ftr img {
        text-align: center;
        margin: 0 auto;
        display: block;
    }
    .abt-ftr p {
        text-align: center;
        padding: 0;
    }
    .social-icon {
        text-align: center;
    }
    .ngo-buy {
        text-align: center;
        margin: 0 auto;
        margin-bottom: 40px;
    }
    .ngo-project a {
        float: none;
    }
    .ngo-pro {
        margin-top: 40px;
    }
    .ngo-abt a {
        float: none;
    }
    .ngo-abt p {
        margin-bottom: 35px;
    }
    .header-top-social {
       text-align: center;
    }
    .logo img {
        text-align: center;
        margin: 0 auto;
        display: block;
    }
    .navbar-light .navbar-nav .nav-link {
        padding: 15px 7px;
        font-family: "f1";
        text-transform: uppercase;
        font-weight: 600;
        color: #000;
        font-size: 14px;
    }
    .navbar-nav {
        text-align: center;
        margin: 0 auto;
    }
    .header-donate {
        text-align: center;
        float: none;
    }
    .footer-location ul {
        padding: 0;
    }
}



@media (min-width: 992px) and (max-width: 1024px) {
    .navbar-light .navbar-nav .nav-link {
        padding: 15px 8px;
    }
    .ngo-project a {
        margin-bottom: 20px;
    }
    .abt-ftr1 .ngo-mail {
        width: auto;
    }
    .abt-ftr p {
        padding: 0;
    }
    .abt-ftr1 p {
        padding: 0;
    }
    .contact-address ul li {
        padding: 25px 79px;
    }
    .contact-address ul li i {
        left: 3%;
    }
    .product a {
        width: 48%;
    }
}

@media (min-width: 1025px) and (max-width: 1221px) {
    .abt-ftr1 .ngo-mail {
        width: auto;
    }
    .abt-ftr p {
        padding: 0;
    }
    .abt-ftr1 p {
        padding: 0;
    }
    .navbar-light .navbar-nav .nav-link {
        padding: 15px 9px;
    }
    .ngo-project a {
        margin-bottom: 20px;
    }
    .contact-address ul li {
        padding: 25px 79px;
    }
    .contact-address ul li i {
        left: 3%;
    }
    .product a {
        width: 48%;
    }
}

@media (min-width: 1022px) and (max-width: 1440px) {
    .abt-ftr1 .ngo-mail {
        width: auto;
    }
    .abt-ftr p {
        padding: 0;
    }
    .abt-ftr1 p {
        padding: 0;
    }
    .navbar-light .navbar-nav .nav-link {
        padding: 15px 9px;
    }
    .ngo-project a {
        margin-bottom: 20px;
    }
    .contact-address ul li {
        padding: 25px 79px;
    }
    .contact-address ul li i {
        left: 3%;
    }
    .product a {
        width: 48%;
    }
}

@media (min-width: 1441px) and (max-width: 1545px){
    .contact-address ul li {
            padding: 20px 210px;
    }
}