$c1:#b80000;
$c2:#ff0707;
body {
    margin: 0;
    padding: 0;
    font-family: "f1";
    overflow-x: hidden;
    font-size: 15px;
}

.row {}

@font-face {
    font-family: "f1";
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: "f2";
    src: url(../fonts/Roboto/Roboto-Medium.ttf);
}

@font-face {
    font-family: "f3";
    src: url(../fonts/source-sans/SourceSansPro-Bold.ttf);
}

@font-face {
    font-family: "f4";
    src: url(../fonts/source-sans/SourceSansPro-Semibold.ttf);
}

@font-face {
    font-family: "f5";
    src: url(../fonts/pe-icon-7-stroke/Pe-icon-7-stroke.ttf);
}

@font-face {
    font-family: "f6";
    src: url(../fonts/Spicy/SpicyRice-Regular.ttf);
}

@font-face {
    font-family: "f7";
    src: url(../fonts/Raleway/Raleway-ExtraBold.ttf);
}

@font-face {
    font-family: "f8";
    src: url(../fonts/Raleway/Raleway-Medium.ttf);
}

@font-face {
    font-family: "f9";
    src: url(../fonts/Raleway/Raleway-Bold.ttf);
}

::focus {
    outline: none !important;
}

:focus {
    outline: none !important;
}

/**** header ***/

.cust-container {
    max-width: 96%;
    margin: 0 auto;
}

.header-top {
    background: #0289d2;
}

.header-top-info ul li {
    list-style: none;
    color: #fff;
    display: inline;
    padding-left: 6px;
}

.header-top-info li span {
    font-family: "f1";
    padding-left: 10px;
}

.header-top-info {
    text-align: center;
    padding-top: 25px;
}

.header-top-social {
    margin-top: 15px;
    padding: 10px 0;
    margin-bottom: -15px;
}

.header-donate {
    margin-top: 0;
    float: right;
    padding: 25px 0;
}

.header-donate a {
    background: #21419a;
    padding: 15px 25px;
    border-radius: 12px;
    color: #fff;
    text-decoration: none;
}

.header-top-social ul li i {
    list-style: none;
    background: #fff;
    border-radius: 50px;
    width: 46px;
    height: 46px;
    text-align: center;
    line-height: 46px;
    margin-top: -8px;
    color: #21419a;
    cursor: pointer;
}

.header-top-social ul li i:hover {
    background: #21419a;
    color: #fff;
}

.header-top-social ul li {
    list-style: none;
    display: inline;
    padding: 0 10px;
}

/*** nav bar ***/

/*
.custom-nav {
    padding: 20px 20px 20px 90px;
}
*/

.navbar-light .navbar-nav .nav-link {
    padding: 15px 25px;
    font-family: "f1";
    text-transform: uppercase;
    font-weight: 600;
    color: #000;
}


.navbar-light .navbar-nav .active > .nav-link {
    color: #21419a;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #214196;
}

.navbar-light .navbar-nav .nav-link img {
    width: 20px;
}

/*
.navbar-light .logo {
    width: 100%;
}
*/

/*** index Page ***/

.ngo-banner img {
    width: 100%;
}

.ngo-abt {
    text-align: center;
    margin: 0 auto;
    margin-top: 40px;
}

.ngo-abt h2 {
    font-size: 20px;
    font-family: "f2";
    text-transform: uppercase;
    font-weight: 700;
    color: #173865;
}

.ngo-abt p {
    text-align: justify;
    line-height: 30px;
    font-family: "f1";
    font-size: 17px;
    color: #173865;
}

.ngo-abt a {
    background: #203f9c;
    padding: 15px;
    text-decoration: none;
    color: #fff;
    float: right;
    margin-top: 10px;
    font-size: 17px;
    font-family: "f1";
}

.ngo-abt a:hover {
    border: 2px solid #203f9c;
    background: none;
    color: #000;
}

.abt-vission {
    background: #ffffff;
    box-shadow: 0px 0px 8px 0px;
    margin-top: 60px;
    height: 370px;
}

.abt-vission:hover {
    background: #ffffff;
    box-shadow: inset 0px 1px 13px 1px #203f9c;
}

.abt-vission img {
    text-align: center;
    margin: 0 auto;
    display: block;
    padding-top: 35px;
    padding-bottom: 20px;
}

.abt-vission h4 {
    text-align: center;
    font-size: 20px;
    font-family: "f2";
    text-transform: uppercase;
    font-weight: 600;
}

.abt-vission p {
    text-align: center;
    padding: 15px 11px 30px;
    font-family: "f1";
    font-size: 17px;
    line-height: 27px;
}

.abt-vission:hover p {
    color: #203f9c;
}

.abt-vission:hover h4 {
    color: #173865;
}

.project-bg {
    background-image: url("../images/project-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.ngo-project {
    text-align: center;
    margin: 0 auto;
    display: block;
    margin-top: 40px;
}

.ngo-project h2 {
    font-size: 20px;
    font-family: "f2";
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    padding-top: 40px;
}

.ngo-project p {
    color: #fff;
    font-size: 17px;
    font-family: "f1";
    text-align: justify;
    line-height: 30px;
}

.ngo-project a {
    border: 2px solid #fff;
    padding: 15px 40px;
    color: #fff;
    float: right;
    text-decoration: none;
    font-family: "f1";
    font-size: 17px;
}

.ngo-project a:hover {
    background: #0289d2;
    border: none;
}

.ngo-projects img {
    border: 10px solid #fff;
    margin: 0 auto;
    text-align: center;
    display: block;
}

.ngo-projects {
    margin-top: 30px;
    margin-bottom: 50px;
}

.ngoo-project {
    bottom: -50px;
}

.ngo-projects li {
    border-radius: 30px;
    width: 30px;
    height: 10px;
    border-top: 0;
    border-bottom: 0;
    background-color: #0289d2;
}
.ngo-projects span {
    color: #fff;
}

.ngo-pro img {
    position: relative;
    overflow: hidden;
}

.img-link {
    position: absolute;
    left: 38%;
    top: 45%;
    background: rgba(95, 162, 198, 0.75);
    padding: 10px 15px;
}

.img-link:hover {
    position: absolute;
    left: 38%;
    top: 45%;
    background: rgba(95, 162, 198, 0.75);
    padding: 10px 15px;
    border-radius: 50px;
}

.img-link i {
    color: #fff;
}

.img-links {
    position: absolute;
    right: 40%;
    top: 45%;
    background: rgba(95, 162, 198, 0.75);
    padding: 10px 15px;
}

.img-links:hover {
    position: absolute;
    right: 40%;
    top: 45%;
    background: rgba(95, 162, 198, 0.75);
    padding: 10px 15px;
    border-radius: 50px;
}

.img-links i {
    color: #fff;
}

.ngo-partner {
    text-align: center;
    margin: 0 auto;
    margin-top: 40px;
}

.ngo-partner h2 {
    font-size: 20px;
    font-family: "f2";
    text-transform: uppercase;
    font-weight: 700;
    color: #173865;
}

.ngo-partner p {
    margin-top: 20px;
}

.ngo-partners {
    margin-bottom: 20px;
}

.ngo-partners img:hover {
    box-shadow: inset 0px 0px 6px #203f9c;
}


.buy-now-bg {
    background: #21419a;
    margin-top: 60px;
}

.buy-now p {
    text-align: center;
    color: #fff;
    padding: 25px 20px;
    font-family: "f1";
    font-size: 24px;
}

.ngo-buy a {
    background: #fff;
    padding: 15px 50px;
    border-radius: 10px;
    font-size: 18px;
    font-family: "f1";
    color: #000;
    text-decoration: none;
}

.ngo-buy a:hover {
    background: none;
    border: 2px solid #fff;
    color: #fff;
}

.ngo-buy {
    margin-top: 40px;
}



/*** footer ***/

.footer-bg {
    background-image: url("../images/footer-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 1px;
}

/*
.cust-container {
    padding: 35px 50px 5px 50px;
}
*/

.abt-ftr {
    margin-top: 40px;
}

.abt-ftr1 {
    text-align: center;
    margin-top: 80px;
}

.abt-ftr h5 {
    font-size: 18px;
    text-transform: uppercase;
    font-family: "f4";
    color: #0a6db1;
}

.abt-ftr1 h5 {
    font-size: 18px;
    text-transform: uppercase;
    font-family: "f2";
    color: #ffffff;
}

.abt-ftr p {
    text-align: justify;
    font-family: "f1";
    margin-top: 20px;
    color: #fff;
    padding: 20px 134px 15px 0;
}

.social-icon li {
    list-style: none;
    display: inline-block;
    padding: 15px 10px;
}

.social-icon li a .fa {
    background: #ffffff;
    color: #0278c0;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    text-align: center;
    line-height: 45px;
}

.social-icon li a .fa:hover {
    background: #029ed3;
    color: #fff;
}

.quick-link li {
    list-style: none;
    padding: 3px 0 5px;
}

.quick-link li a {
    text-decoration: none;
    color: #5f5f5f;
    font-family: "f1";
}

.quick-link {
    margin-top: 20px;
}

.quick-link li a:hover {
    color: #086db1;
}

.abt-ftr1 span {
    font-size: 18px;
    text-transform: uppercase;
    font-family: "f4";
    color: #0a6db1;
}

.location iframe {
    width: 100%;
    height: 257px;
}

.ftr-down {
    background: #010b3b;
    background-size: cover;
}

.ftr-down p {
    text-align: center;
    color: #fff;
    padding: 15px 12px;
}

.ftr-down span {
    color: #dcbd13;
}

.ngo-mail {
    width: 50%;
    text-align: center;
    margin: 0 auto;
    padding: 15px;
}

.ngo-mail input {
    padding: 30px 25px;
}

.btn-sub {
    background: #029ed3;
    border-radius: inherit;
    color: #fff;
    padding: 15px 25px;
}

.btn-sub:hover {
    background: none;
    border: 2px solid #fff;
    color: #fff;
}

.abt-ftr1 p {
    color: #fff;
    font-size: 17px;
    font-family: "f1";
    padding: 15px 127px;
    line-height: 30px;
}

.footer-menu {
    text-align: center;
}

.footer-menu ul li {
    list-style: none;
    display: inline-block;
    padding: 15px 25px;
}

.footer-menu li a {
    text-decoration-line: none;
    color: #fff;
    font-size: 18px;
    font-family: "f1";
}

.footer-menu li a:hover {
    color: #029ed3;
}

/*** Contact Page ***/

.contact-address {
    background: url("../images/contact-img.jpg")no-repeat;
    background-size: cover;
    height: 480px;
}

.contact-bg {
    padding: 2rem 0;
    text-align: center;
}

.contact-bg img {
    margin-bottom: 20px;
}

.contact-bg h2 {
    text-align: center;
    font-family: "f2";
    color: #333;
    font-size: 26px;
    font-weight: 600;
    text-transform: uppercase;
}

.contact-address h3 {
    text-align: center;
    font-family: "f2";
    color: #fff;
    font-size: 22px;
    text-transform: uppercase;
    padding-top: 40px;
}

.contact-address ul li {
    position: relative;
    padding: 25px 265px;
    list-style: none;
    color: #fff;
    font-size: 17px;
    font-family: "f1";
}

.contact-address ul li i {
    position: absolute;
    top: 10px;
    left: 20%;
    background: #0289d2;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 56px;
    font-size: 24px;
    border: 4px solid #fff;
    border-radius: 100%;
}

.contact-area {
    padding: 0 0 2rem 0;
}

.contact-area h2 {
    text-align: center;
    font-family: "f2";
    color: #011e4a;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 600;
}

.contact-area img {
    text-align: center;
    margin: 0 auto;
    display: block;
    margin-bottom: 20px;
}

.form-area {
    background: #011e4a;
    padding: 3rem;
}

.section-main {
    overflow: hidden;
    padding: 3rem 0;
}

.form-area .form-control {
    margin-bottom: 20px;
}

.form-area input {
    height: 50px;
    box-shadow: none;
    border: 1px solid #fff;
    background: rgba(255, 255, 255, 0);
    color: #fff;
}

.form-area .form-control:focus {
    color: #fff;
    background-color: rgba(255, 255, 255, 0);
    border-color: #fff;
    outline: 0;
    box-shadow: 1px 1px 3px rgb(214, 204, 204);
}

.form-area textarea {
    background: rgba(255, 255, 255, 0);
}

.form-area textarea:focus {
    outline: none;
}

.text-are {
    height: 200px;
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.contact-submit {
    background: #0289d2;
    color: #fff;
    font-family: "f1";
    font-size: 20px;
    padding: 10px 30px;
    border-radius: 1px;
    text-decoration: none;
    border: none;
    transition: all .2s;
    border: 2px solid #0289d2;
}

.contact-submit:hover {
    border: 2px solid #0289d2;
    color: #fff;
    background: none;
    transition: all .2s;
}

.cont-sub {
    padding: 2rem 0;
}

/*** About Page ***/

.ngo-team {
    margin-top: 50px;
    text-align: center;
}

.icon {
    width: 100%;
    margin: auto;
}

.icon i {
    background: #029ed3;
    color: #fff;
    border-radius: 50px;
    width: 70px;
    height: 70px;
    text-align: center;
    line-height: 65px;
    font-size: 25px;
}

.team-content {
    margin-left: 0;
    margin-top: 20px;
}

.team-content h4 {
    font-size: 25px;
    font-family: "f2";
    font-weight: 700;
}

.team-content p {
    font-family: "f1";
    font-size: 17px;
}

.ngo-volunteer {
    background-image: url("../images/project-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.volunteer h3 {
    color: #fff;
    padding-top: 50px;
    font-size: 28px;
    font-family: "f2";
    text-transform: uppercase;
}

.volunteer span {
    color: #029ed3;
}

.volunteer {
    text-align: center;
    margin: 0 auto;
}

.volunteer h5 {
    color: #029ed3;
    font-size: 17px;
    font-family: "f1";
    margin-top: 20px;
}

.volunteer p {
    color: #fff;
    font-size: 16px;
    font-family: "f1";
    margin-top: 30px;
    margin-bottom: 50px;
}

.volunteer a {
    background: #029ed3;
    padding: 15px 25px;
    text-decoration: none;
    color: #fff;
    font-family: "f1";
    font-size: 17px;
    text-transform: uppercase;
    display: inherit;
    width: 165px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;
}

.volunteer a:hover {
    background: none;
    border: 2px solid #fff;
    width: 165px;
}

.ngo-choose h2 {
    font-size: 20px;
    font-family: "f2";
    text-transform: uppercase;
    font-weight: 700;
    color: #173865;
    margin-top: 30px;
}

.ngo-choose p {
    text-align: justify;
    font-size: 17px;
    font-family: "f1";
    margin-top: 20px;
}

.ngo-accordion {
    margin-left: 15%;
    width: 100%;
    margin-top: 15%;
}

/*** Product Page ***/

.ngo-product {
    text-align: center;
    border: 2px solid #029ed3;
    margin-top: 40px;
    margin-bottom: 40px;
    position: relative;
}

.ngo-product img {
    padding: 30px 25px;
    margin-bottom: 30px;
}

.ngo-product a {
    text-align: center;
    margin: 0 auto;
    display: block;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    font-family: "f1";
    margin-top: -56px;
    margin-bottom: 10px;
    padding: 15px 25px;
    width: 40%;
}

.product a:hover {
    background: #0289d2;
    color: #fff;
}

.product a {
    border: 2px solid #0289d2;
    color: #1d1b17;
    width: 41%;
}

.ngo-product a i {
    color: orange;
    padding-right: 10px;
}

.ngo-product ul li .rate {
    opacity: 0.5;
}

.ngo-product ul li .brown {
    color: #a4583e;
    font-size: 22px;
}

.ngo-product ul li .pink {
    color: #fb677f;
    font-size: 22px;
}

.ngo-product ul li .black {
    color: #000000;
    font-size: 22px;
}

.ngo-product ul {
    padding: 0;
}

.ngo-product ul li {
    list-style: none;
    display: inline;
    padding: 0 5px;
}

.ngo-product ul li i {
    color: #2d2a25;
}

.ngo-product p {
    text-align: center;
    font-size: 18px;
    font-family: "f1";
}

.nav-pills .nav-link.active {
    background: none;
}

.nav-pills {
    text-align: center;
    margin: 0 auto;
    display: block;
    position: absolute;
    right: 0;
    top: 10%;
}

/*** Checkout Page ***/

.card-body {
    border-radius: 5px;
    display: block;
    align-items: center;
    flex-direction: column;
    background: #eaf8ff;
    box-shadow: 0px 5px 12px 2px rgba(0, 0, 0, 0.1);
    background-size: cover;
}

.ngo-checkout {
    padding: 2rem;
    background: #0289d242;
}

.ngo-checkout h2 {
    font-size: 20px;
    font-family: "f2";
    text-align: center;
    margin: 0 auto;
}

.check-img img {
    width: 40%;
}

.check-img h4 {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    font-family: "f2";
}

.product-quantity h4 {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    font-family: "f2";
}

.product-price h4 {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    font-family: "f2";
}

.product-price ul li {
    list-style: none;
}

.product-price ul {
    margin-top: 65px;
    text-align: center;
}

.check-img ul li {
    list-style: none;
    display: inline;
}

#field1 {
    text-align: center;
    margin-top: 55px;
}

#field2 {
    text-align: center;
    margin-top: 55px;
}
#field1 input {
    text-align: center;
}

/*
.confirmed {
    color: #6a9858;
    font-weight: 800;
    font-style: italic;
    opacity: 0.6;
}

.next {
    color: #49425A;
    font-weight: 400;
    font-style: italic;
    opacity: 0.6;
}

.payment {
    width: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    margin-top: 10%;
    margin-bottom: 10%;
}

.creditcard {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.thecard {
    width: 365px;
    height: 225px;

    display: flex;
    flex-direction: column;

    background: #49425A;

    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    box-shadow: 0px 4px 15px 1px rgba(0, 0, 0, 0.3);

    text-shadow: 0 1px 0 rgba(0, 0, 0, 1);
}

.top-card {
    display: flex;
}

.card-info {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 3rem;
    color: #EBF1EB;

}

.card-number {
    font-size: 1.2rem;
    font-weight: 400;
    font-style: italic;
}

.circle {
    width: 50px;
    height: 50px;

    margin: 20px;

    border-radius: 50%;

    background: #C54177;
    &:before {
        content: '';

        position: absolute;

        width: 50px;
        height: 50px;

        margin: 15px 10px;

        border-radius: 50%;

        background: #E0BF73;
    }
}

.card-title {
    margin: 20px;
    margin-left: -40px;

    z-index: 1;

    color: #EBF1EB;

    font-style: italic;
    font-weight: 700;
    font-size: 2rem;
}

.form {
    width: 100%;
    height: 100%;
    margin: 0 50px;
    display: flex;
    justify-content: center;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    font-family: 'Muli', sans-serif;

    color: #49425a;
    font-size: 0.9rem;
    font-weight: 400;
}

label {
    margin-bottom: 0.3rem;
    font-family: "f1";
}

input,
select {
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0);
    outline: none;
    font-size: 16px;
    line-height: 27px;
    font-family: "f1";
    background: #FFF;
    color: #49425a;
    transition: all 300ms ease;
}

.small {
    width: 100%;
    display: flex;
}

.small label {
    display: block;
}

.small p {
    width: 200px;
    margin-left: 1rem;
    align-self: center;
}


select {
    width: 45%;
    height: 3.3rem;
}

.date {
    display: flex;
    justify-content: space-between;

}

.date label {
    display: block;
}

.card-body a {
    font-size: 20px;
    font-family: "f1";
    background: #21419a;
    color: #EBF1EB;
    padding: 1rem;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}
*/

/*** Gallery Page ***/

.gallery img {
    text-align: center;
    margin: 0 auto;
    display: block;
}

.gallery-title {
    font-size: 20px;
    color: #173865;
    text-align: center;
    font-weight: 700;
    margin-top: 30px;
    font-family: "f2";
    text-transform: uppercase;
}

.filter-button {
    font-size: 18px;
    border: 1px solid #0289d2;
    border-radius: inherit;
    text-align: center;
    color: #000;
    margin-bottom: 30px;
    margin-top: 20px;
    margin-left: 40px;
    padding: 10px 25px;
}

.filter-button:hover {
    font-size: 18px;
    border: 1px solid #0289d2;
    border-radius: none;
    text-align: center;
    color: #ffffff;
    background-color: #0289d2;

}

.btn-default:active .filter-button:active {
    background-color: #42B32F;
    color: white;
}

.port-image {
    width: 100%;
}

.gallery_product {
    margin-bottom: 15px;
   
    padding: 0 7px;
}

.btn:focus {
    box-shadow: none;
}

.gallery-list {
    position: relative;
     width: 100%;
    height: 125px;
    overflow: hidden;
}

.gallery-list .overlay-box {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #ffffff;
    opacity: 0;
    transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0);
}

.gallery-list .overlay-inner {
    position: absolute;
    left: 0px;
    right: 0;
    bottom: 0;
    top: 0px;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    background: rgba(51, 51, 51, 0.48);
}

.gallery-list .content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: table-cell;
    vertical-align: middle;
}

.gallery-list .content span {
    font-size: 20px;
    color: #fff;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    line-height: 40px;
    background: #0289d2;
}

.gallery-list:hover .overlay-box {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
}

/*** Blog Page ***/

.blog-heading h2 {
    text-align: center;
    font-family: "f2";
    font-size: 20px;
    padding: 20px 0 0px 0;
    text-transform: uppercase;
    font-weight: 600;
}

.blog-heading img {
    text-align: center;
    margin: 0 auto;
    display: block;
}

.blog-heading h3 {
    text-align: center;
    font-family: "f2";
    font-size: 20px;
    margin: 0;
}

.blog-heading h5 {
    font-family: "f1";
    text-align: center;
}

.blog-heading h4 {
    text-align: center;
    margin-bottom: 20px;
    font-family: "f1";
    font-size: 16px;
    padding: 20px 0 0px 0;
    color: #18376d;
}

/*
.blog-heading h5 {
    text-align: center;
    font-family: "f2";
    font-size: 24px;
    text-shadow: 1px 2px 1px #C79292;
    margin: 0;
}
*/

.blog-heading p {
    font-family: "f1";
    width: 70%;
    text-align: center;
    margin: 0 auto;
    padding: 20px 0 20px 0;
    line-height: 27px;
}

.blog-img {
    box-shadow: 0px 2px 5px #4d4d4d;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.blog-img a {
    z-index: 1;
}

.blog-half a {
    z-index: 11;
}

.blog-img img {
    width: 100%;
    height: auto;

}

.blog-img:before,
.blog-img:after {
    position: absolute;
    top: 0;
    width: 0;
    height: 100%;
    background: rgba(2, 137, 210, 0.57);
    content: "";
    transition: all .4s;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    opacity: .75;
}

.blog-half:hover .blog-img:before {
    width: 50%;
}

.blog-half:hover .blog-img:after {
    width: 50%;
}

.blog-half:hover .blog-img:after {
    width: 50%;
}

.blog-half {
    position: relative;
}

.share-btn {
    position: absolute;
    bottom: 0;
    right: 1%;
    z-index: 11;
    transition: all 1s ease 0s;
}

.share-btn .share-button:hover {
    background: rgba(0, 0, 0, 0.75);
    color: #fff;
    transition: all 1s ease 0s;
}

.share-button:hover a i {
    color: #fff;
    transition: all 1s ease 0s;
}



.blog-img:before {
    left: 0;
}

.blog-img:after {
    right: 0;
}

.about-me h2 {
    border-top: 2px solid;
    border-bottom: 2px solid;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-family: "f2";
    font-size: 20px;
}

.about-me img {
    width: 100%;
}

.about-txt1 p {
    font-family: "f1";
    font-size: 14px;
    line-height: 24px;
    padding-top: 5px;
}

.about-txt p {
    font-family: "f1";
    font-size: 14px;
    line-height: 24px;
    text-align: justify;

}


.list-unstyled {
    padding-left: 0;
    list-style: none;
}

.list-unstyled.recent-list li {
    display: inline-block;
    margin-bottom: 20px;
    width: 100%;
}

.alignleft {
    float: left;
    margin-right: 15px;
}

.list-unstyled.recent-list img {
    border: 3px solid #b9b9b9;
    width: 90px;
}

.list-unstyled h5 {
    font-size: 15px;
    font-weight: 700;
    color: #252525;
    margin: 10px 0 10px;
    max-width: 334px;
    max-height: 30px;
    overflow: hidden;
}

.list-unstyled small {
    color: #666666;
}

.recent-list a {
    text-decoration: none;
}

.tagclouds a {
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
    line-height: 13px;
    padding: 7px 14px;
    border-radius: 5px 0;
    margin: 3px 3px 6px;
    text-transform: capitalize;
    background: #fff;
    border: 1px solid #f1f1f1;
    transition: .5s;
    color: #222;
    text-decoration: none;
}

.tagclouds a:hover {
    background: #21419a;
    color: #fff;
}

.cat-item:after {
    position: absolute;
    font-family: 'FontAwesome';
    content: "\f105";
    left: 0px;
    font-weight: 700;
    margin-top: 2px;
    color: #666666;
}

.cat-list-item ul li {
    list-style: none;
    padding: 5px 15px;
    position: relative;
}

.cat-list-item li a {
    color: #333;
}

.cat-list-item ul {
    padding: 0;
}

@media only screen and (max-width: 767px) {
    .about-me h2 {
        display: inline-block;
    }


}




.contact-form1 h3 {
    font-size: 14px;
    line-height: 2.14;
    letter-spacing: 0.462px;
    color: #232323;
    font-family: "f1";
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: bold;
    margin: 0;
}

.contact-form1 .form-group {
    margin-top: 12px;
    margin-bottom: 7px;
}

.contact-form1 .form-group .form-control {
    border: 1px solid #e5e5e5;
    -webkit-box-shadow: none;
    -webkit-appearance: none;
    box-shadow: none;
    color: #888;
    font-family: "f1";
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 0.429px;
    line-height: 2.308;
    outline: none;
    padding: 25px 25px;
}

.contact-form1 .form-group .submit {
    background-color: #0a2946;
    -webkit-box-shadow: none;
    -webkit-appearance: none;
    box-shadow: none;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 2.14px;
    letter-spacing: 0.462px;
    color: #fff;
    font-family: "f1";
    padding: 21px 35px;
    text-transform: uppercase;
    border: none;
    border-radius: 4px;
    margin-bottom: 10px;
    -webkit-transition: all 1s ease 0s;
    -moz-transition: all 1s ease 0s;
    -o-transition: all 1s ease 0s;
    transition: all 1s ease 0s;
}

.contact-form1 .form-group .submit:hover {
    background-color: #0289d2;
    color: #fff;
}

.contact-form1 img {
    padding-left: 85px;
}

.contact-img img {
    width: 100%;
    margin-bottom: 10px;
}

.share-btn ul li {
    display: inline-block;
    background: #ccc;
    padding: 10px;
    color: #333;
    transition: all 1s ease 0s;
}

.share-btn li a {
    color: #333;

}

.view-btn {
    background: #21419a;
    color: #fff;
    box-shadow: 0px 2px 5px #4d4d4d;
    margin-bottom: 20px;
    font-family: "f1";
}

.view-btn:hover {
    background: #0289d2;
    color: #fff;
}

/*** Project page ***/

.ongoing-project {
    margin-top: 20px;
}

.ongoing-project h4 {
    font-size: 17px;
    font-family: "f2";
    text-transform: uppercase;
    font-weight: 600;
}

.ongoing-project p {
    font-family: "f1";
    font-size: 16px;
    text-align: justify;
    line-height: 27px;
    margin-top: 20px;
}

.ongoing-project img {
    margin-bottom: 40px;
}



.check-img img {
    width: 20%;
}

.check-img h4 {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    font-family: "f2";
}

.product-quantity h4 {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    font-family: "f2";
}

.product-price h4 {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    font-family: "f2";
}

.product-price ul li {
    list-style: none;
}

.product-price ul {
    margin-top: 65px;
    text-align: center;
}

.check-img ul li {
    list-style: none;
    display: inline;
}

form {
    width: 600px;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
}

.value-button {
    display: inline-block;
    border: 1px solid #ddd;
    margin: 0px;
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 11px 0;
    background: #eee;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.value-button:hover {
    background: #123456;
    color: #fff;
}

.value-button:hover {
    cursor: pointer;
}

form #decrease {
    margin-right: -4px;
    border-radius: 8px 0 0 8px;
}

form #increase {
    margin-left: -4px;
    border-radius: 0 8px 8px 0;
}

form #input-wrap {
    margin: 0px;
    padding: 0px;
}

input#number {
    text-align: center;
    border: none;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin: 0px;
    width: 60px;
    height: 50px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.center {
    width: 150px;
    margin: 40px auto;

}

.quantity-minusbtn {
    background: #0f1432;
    padding: 6px 10px;
    opacity: 1 !important;
    color: #fff;
    border-radius: 0;
    border-color: #123456;
}

.quantity-plusbtn {
    background: #0f1432;
    padding: 6px 10px;
    opacity: 1 !important;
    color: #fff;
    border-radius: 0;
    border-color: #123456;
}

.quantity-minus {
    color: #fff;
}

.quantity-number {
    text-align: center;
    border: 1px solid #123456;
}

.quantity-minusbtn:hover {
    color: #fff;
    background-color: #c82333;
    border-color: #bd2130;
}

.quantity-plusbtn:hover {
    color: #fff;
    background-color: #218838;
    border-color: #1e7e34;
}
.test-prev {
    background: #123456;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-top: 100px;
}
.test-next {
    background: #123456;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-top: 100px;
}
.testimonial h2 {
    font-size: 20px;
    font-family: "f2";
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 40px;
}
.testimonial img {
    margin-bottom: 20px;
}
.testimonial-ngo {
    height: 400px;
}





.address p span{
    
}

/***end***/

/***blog***/


.blog-heading h2::selection {
    background: lightblue;
}

.blog-heading h2 {
    text-align: center;
    font-family: "f2";
    font-size: 20px;
    padding: 20px 0 0px 0;
  
}

.blog-heading h3 {
    text-align: center;
    font-family: "f3";
    font-size: 20px;
    margin: 0;
    padding: 15px 0 0 0;
    color: #00274c;
}


.blog-heading h5 {
    font-family: "f1";
    text-align: center;
    font-size: 16px;
}

.blog-heading h4 {
    text-align: center;
    margin-bottom: 20px;
    font-family: "f1";
    font-size: 16px;
    padding: 20px 0 0px 0;
/*    text-shadow: 1px 2px 1px #C79292;*/
    text-transform: uppercase;
    color: #00274c;
}

/*
.blog-heading h5 {
    text-align: center;
    font-family: "f2";
    font-size: 24px;
    text-shadow: 1px 2px 1px #C79292;
    margin: 0;
}
*/



.blog-heading p {
    font-family: "f1";
    width: 70%;
    text-align: center;
    margin: 0 auto;
    padding: 20px 0 20px 0;
    line-height: 26px;
}

.blog-img {
    box-shadow: 0px 2px 5px #4d4d4d;
    position: relative;
   z-index: 1;
    overflow: hidden;
}
.blog-img a{
    z-index: 1;
}
.blog-half a{
   z-index: 11;  
}
.blog-img img {
    width: 100%;
    height: auto;
    
}

.blog-img:before,
.blog-img:after {
    position: absolute;
    top: 0;
    width: 0;
    height: 100%;
    background: rgba(0, 39, 76, 0.85);
    content: "";
    transition: all .4s;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    opacity: .75;
}

.blog-half:hover .blog-img:before {
    width: 50%;
}

.blog-half:hover .blog-img:after {
    width: 50%;
}

.blog-half:hover .blog-img:after {
    width: 50%;
}

.blog-half {
    position: relative;
}

.share-btn {
    position: absolute;
    bottom: 0;
    right: 1%;
    z-index: 11;
    transition: all 1s ease 0s;
}

.share-btn .share-button:hover {
    background: rgba(0, 0, 0, 0.75);
    color: #fff;
   transition: all 1s ease 0s;
}

.share-button:hover a i {
    color: #fff;
    transition: all 1s ease 0s;
}



.blog-img:before {
    left: 0;
}

.blog-img:after {
    right: 0;
}
.ngo-partner img {
    margin-bottom: 20px;
}
.view-more {
    text-align: center;
}



