{% extends 'ngo/app3.html' %}


{%block content %}{% load static %} 


<body>  
    <!-- Preloader -->
    <div class="preloader">
        <div class="cssload-speeding-wheel"></div>
    </div>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top m-b-0">
            <div class="navbar-header"> <a class="navbar-toggle hidden-sm hidden-md hidden-lg " href="javascript:void(0)" data-toggle="collapse" data-target=".navbar-collapse"><i class="ti-menu"></i></a>
                <div class="top-left-part"><a class="logo" href="dashboardpage"><b><img src="{%static 'images/favicon.png' %}" alt="home" weight="50" height="50" /></b><span class="hidden-xs"></span>NGO</a></div> 
        </nav>
        
                
       <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row bg-title">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">Project List</h4> </div>
                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12"> <a href="logout" target="_blank"     class="btn btn pull-right">Logout</a>
                            <ol class="breadcrumb">
                                <li><a href="passwordchange">Change password</a></li>
                            </ol>      
                        </div>
               
               </div> 

                <div class="row">
                    <div class="col-sm-12">
                        <div class="white-box">
                             
                            <div class="table-responsive">
                                <table id="myTable" class="table table-striped table-bordered table-sm">  
                                    <thead class="thead-dark">  
                                        <tr>  
                                            <th>Image</th>
                                            <th>Title</th> 
                                            <th>Action</th>
                                        </tr>  
                    </thead>  
                {% for user in user %}
                <tbody>  
            <tr> 
                <td> <img src={{ MEDIA_URL }}{{ user.image_file }} class="img-fluid" alt="" width="100" height="100"></td>
                
                <td>{{ user.title }}</td>  
            
                <td>  
            <a href="/aboutbanneredit/{{ user.id }}"><span class="glyphicon glyphicon-pencil" ></span></a>  
            <a href="/aboutbannerdelete/{{ user.id }}" onclick="return confirmation()" ><span class="glyphicon glyphicon-trash" ></span></a>  
        </td>  
            </tr>  
        {% endfor %}  
    </tbody>  
</table> 
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<br>  
<br> 
</body> 
<script type="text/javascript">
    
    function confirmation() {
      return confirm('Are you sure you want to do this?');
    }
</script>   
{%endblock %}
