{% extends 'ngo/app3.html' %}


{%block content %}{% load static %}
 {% csrf_token %} 
<body>
    <!-- Preloader -->
    <div class="preloader">
        <div class="cssload-speeding-wheel"></div>
    </div>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top m-b-0">
            <div class="navbar-header"> <a class="navbar-toggle hidden-sm hidden-md hidden-lg " href="javascript:void(0)" data-toggle="collapse" data-target=".navbar-collapse"><i class="ti-menu"></i></a>
                <div class="top-left-part"><a class="logo" href="dashboardpage"><b><img src="{%static 'images/favicon.jpg' %}" alt="home" weight="50" height="50" /></b><span class="hidden-xs"></span>NGO</a></div> 
            </div> 
        </nav>
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row bg-title">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">Blog Tags</h4> </div>
                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12"> <a href="logout" target="_blank"     class="btn btn pull-right">Logout</a>
                            <ol class="breadcrumb">
                                <li><a href="passwordchange">Change password</a></li>
                            </ol>      
                        </div>
            </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="white-box">
                            <div class="container">  
                                    <br>  
                                <div class="form-group row">  
                                    <label class="col-sm-1 col-form-label"></label>  
                                    <div class="col-sm-4">  
                                     
                                    </div>
                                </div>
                            </div>

                            <form method="POST" class="post-form" action="" enctype="multipart/form-data">  
                            {% csrf_token %}                             
                                <div class="form-group row">
                                    <div class="col-xs-6"> 
                                        <div class="col-xs-6">
                                            <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Blog:</label><br>
     
                                            <select class="form-control " name = "blog" id="category_id">
                                            {% for blogss in blogss %} 
                                                <option value="{{blogss.id}}">{{blogss.title}}</option>
                                            {% endfor %}
                                            </select>
                                            </div>
                                        </div><br>
                                        </br> 

                                    <div class="form-group row">
                                        <div class="col-xs-6"> 
                                            <div class="col-xs-6">
                                                <div class="form-group row">
                                                <label class="col-sm-2 col-form-label">Tags:</label><br>
     
                                                <select class="form-control " class="multiselect" multiple="multiple" name = "tag" id="tags_id">
                                                {% for tagss in tagss %} 
                                                <option value="{{tagss.id}}" selected="selected">{{tagss.Name}}</option>
                                                {% endfor %}
                                            </select>
                                            </div>
                                        </div><br>
                                        </br>      
                                   
                                    <div class="form-group row">  
                                        <label class="col-sm-1 col-form-label"></label>  
                                            <div class="col-sm-4">  
                                                <button type="submit" class="btn btn-primary" >Submit</a></button>  
                                            </div>  
                                    </div>  
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</body>


{%endblock %}