{% extends 'ngo/app3.html' %}


{%block content%}{%load static %}


<body>  
    <!-- Preloader -->
    <div class="preloader">
        <div class="cssload-speeding-wheel"></div>
    </div>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top m-b-0">
            <div class="navbar-header"> <a class="navbar-toggle hidden-sm hidden-md hidden-lg " href="javascript:void(0)" data-toggle="collapse" data-target=".navbar-collapse"><i class="ti-menu"></i></a>
                <div class="top-left-part"><a class="logo" href="dashboardpage"><b><img src="{%static 'images/favicon.png' %}" alt="home" weight="50" height="50" /></b><span class="hidden-xs"></span>NGO</a></div> 
        </nav>
        
                
       <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row bg-title">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">Project</h4> </div>
                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12"> <a href="logout" target="_blank"     class="btn btn pull-right">Logout</a>
                            <ol class="breadcrumb">
                                <li><a href="passwordchange">Change password</a></li>
                            </ol>      
                        </div>
               
               </div> 
                <div class="row">
                    <div class="col-sm-12">
                        <div class="white-box">  
                            <form method="POST" class="post-form" action="/contactbannerupdate/{{ edit.id }}" enctype="multipart/form-data">{% csrf_token %} 
                           
                           
                            <div class="form-group row"> 
                            <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Title</label>
                            <label for="title">    
                            <input type="text" class="form-control"  name="title" id="title" placeholder="title" value={{edit.title}}></input>
                            </label>
                            </div> 
                  
                            <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Image</label>
                            <label for="image_file">    
                            <input type="file" name="image_file"  class="form-control" id="image_file" placeholder="Image" value={{edit.image_file}}></input>
                            </label>
                            </div> 
                  
                            <div class="form-group row">  
                            <label class="col-sm-1 col-form-label"></label>  
                            <div class="col-sm-4">  
                            <button type="submit" class="btn btn-primary" >Update</button> 
                            </div>
                            </div>
                        </div>
                    </form>
                            
                        </div>
                    </div>
                </div>
            </div>
         
{%endblock %}

