<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
      <p>Dear aisha,</p><br>
      <h4><p>Mr {{name}} Made on enquiry in your www.aishmakeover.in Please find the details below of Mr enquired   </p></h4>
      <div style="width: 100%;margin:0px auto;;font-family:calibri;">

        <div style="width:100%;margin-top: 10px;float:left;">

          <h4 style="margin-top: 10px;background-color:#282828;color:#fff;letter-spacing: 1px;border-radius:4px; padding: 10px;font-size:16px;">Enquiry From {{name}}  </h4>


          <table style="width:100%;border:1px solid #ccc;padding:7px;margin:1em 0px">
            <h1 style="text-transform:uppercase;color:#ff5361">Aisha</h1>

            <tbody>

              <tr style="height:35px;line-height:35px;border-bottom:1px solid #ddd;">
                <td style="width:50%;">Name</td>
                <td style="text-indent:20px;">{{name}}</td>
              </tr>
               <tr style="height:35px;line-height:35px;border-bottom:1px solid #ddd;">
                <td style="width:50%;">Subject</td>
                <td style="text-indent:20px;"> {{subject}}</td>
              </tr>
              <tr style="height:35px;line-height:35px;border-bottom:1px solid #ddd;">
                <td style="width:50%">E-mail</td>
                <td style="text-indent:20px;"> {{email}}</td>
              </tr>
              <tr style="height:35px;line-height:35px;border-bottom:1px solid #ddd;">
                <td style="width:50%">Phone Number</td>
                <td style="text-indent:20px;"> {{number}}</td>
              </tr>
              <tr style="height:35px;line-height:35px;border-bottom:1px solid #ddd;">
                <td style="width:50%">Message</td>
                <td style="text-indent:20px;"> {{message}}</td>
              </tr>
            </tbody>
          </table>

          <p>Thanks And Regards<br>
            <h4>{{name}}</h4><br>
          </p>
        </div>
      </body>


      </html>