<!DOCTYPE html>
<html lang="en">
{%load static %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="{%static 'images/favicon.jpg' %}">
    <title>Ngo</title>
    <!-- Bootstrap Core CSS -->
    <link href="{%static 'temp/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{%static 'temp/plugins/bower_components/bootstrap-extension/css/bootstrap-extension.css' %}" rel="stylesheet">
    <!-- summernotes CSS -->
    <link href="{%static 'temp/plugins/bower_components/summernote/dist/summernote.css' %}" rel="stylesheet" />
    <!-- Menu CSS -->
    <link href="{%static 'temp/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.css' %}" rel="stylesheet">
    <!-- animation CSS -->
    <link href="{%static 'temp/css/animate.css' %}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{%static 'temp/css/style.css' %}" rel="stylesheet">
    <!-- color CSS -->
    <link href="{%static 'temp/css/colors/blue.css' %}" id="theme" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
    <link href="{%static 'temp/plugins/bower_components/datatables/jquery.dataTables.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="https://cdn.datatables.net/buttons/1.2.2/css/buttons.dataTables.min.css" rel="stylesheet" type="text/css" />

    
    


    

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>  

    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-colorpicker/2.3.3/css/bootstrap-colorpicker.min.css" rel="stylesheet">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-colorpicker/2.3.3/js/bootstrap-colorpicker.min.js"></script> 
</head>