{% extends 'growelsapp/app3.html' %}


{%block content %}{% load static %}


<div class="service-banner" style="background-image: url({% static 'aysha/assets/images/about-banner.jpg' %})" >
<body>  
    <!-- Preloader -->
    <div class="preloader">
        <div class="cssload-speeding-wheel"></div>
    </div>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top m-b-0">
            <div class="navbar-header"> <a class="navbar-toggle hidden-sm hidden-md hidden-lg " href="javascript:void(0)" data-toggle="collapse" data-target=".navbar-collapse"><i class="ti-menu"></i></a>
                <div class="top-left-part"><a class="logo" href="dashboardpage"><b><img src="{%static 'images/favicon.png' %}" alt="home" weight="50" height="50" /></b><span class="hidden-xs"></span>NGO</a></div> 
        </nav>
        
                
       <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row bg-title">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">Password</h4> </div>
                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12"> <a href="logout" target="_blank"     class="btn btn pull-right">Logout</a>
                            <ol class="breadcrumb">
                                <li><a href="passwordchange">Change password</a></li>
                            </ol>      
                        </div>
               
               </div> 
            <div class="row">
                <div class="col-sm-12">
                    <div class="white-box"> 
                        {% if messages %}
                        <ul class="messages">
                        {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                        </ul>
                        {% endif %}

                        <form method="post">
                        {% csrf_token %}
                            <div class="form-group ">
                            <div class="col-xs-12">
                            <label class="col-sm-2 col-form-label">Old password</label> 
                            <input type="password" name="old_password"  class="form-control "required="id_old_password" id="name"></input>
                            </div>
                            </div> 
                            {{form.errors.old_password}} 
                            <div class="form-group ">
                            <div class="col-xs-12">
                            <label class="col-sm-2 col-form-label">New password</label> 
                            <input type="password" name="new_password1"  class="form-control "required="id_new_password1" id="name"></input>
                            </div>
                            </div> 
                             
                            <div class="form-group ">
                            <div class="col-xs-12">
                            <label class="col-sm-2 col-form-label">New password Confirmation</label> 
                            <input type="password" name="new_password2"  class="form-control "required="id_new_password2" id="name"></input>
                            </div>
                            </div>  
                            {{form.errors.new_password2}}                     
                            <button type="submit">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock %}