{% extends 'ngo/app3.html' %}


{%block content%}{%load static %}

<body>  
    <!-- Preloader -->
    <div class="preloader">
        <div class="cssload-speeding-wheel"></div>
    </div>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top m-b-0">
            <div class="navbar-header"> <a class="navbar-toggle hidden-sm hidden-md hidden-lg " href="javascript:void(0)" data-toggle="collapse" data-target=".navbar-collapse"><i class="ti-menu"></i></a>
                <div class="top-left-part"><a class="logo" href="dashboardpage"><b><img src="{%static 'images/favicon.jpg' %}" alt="home" weight="50" height="50" /></b><span class="hidden-xs"></span>NGO</a></div> 
        </nav>
        
                
       <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row bg-title">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">Product</h4> </div>
                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12"> <a href="logout" target="_blank"     class="btn btn pull-right">Logout</a>
                            <ol class="breadcrumb">
                                <li><a href="passwordchange">Change password</a></li>
                            </ol>      
                        </div>
               </div> 
                <div class="row">
                     <div class="col-sm-12">
                        <div class="white-box">  
                           <form method="POST" class="post-form" action="/productaddupdate/{{edit.id}}" enctype="multipart/form-data">{% csrf_token %} 

                             
                            <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Product Name</label> 
                            <label for="title">    
                            <input type="text"  name="name" required="" class="form-control " value="{{edit.name}}"id="title" ></input>
                            </label>
                            </div>

                            <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Price</label> 
                            <label for="title">    
                            <input type="text"  name="price" required="" class="form-control " value="{{edit.price}}" id="title" ></input>
                            </label>
                            </div>
                            

                            <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Colors</label> 
                            <label for="title"> 
                            {% for user in user %}
                            <p style="color:{{user.color}}"; class="fa fa-circle"></p> 
                            {{user.name}}
                            <input type="checkbox" id="{{user.id}}" value="{{user.id}}" name="color" />
                            <input type="file"  name="image_file{{user.id}}"  class="form-control " id="user" ></input><br>
                            {% endfor %}
                            </label>
                            </div>

                            <div class="form-group row">  
                            <label class="col-sm-1 col-form-label"></label>  
                            <div class="col-sm-4">  
                            <button type="submit" class="btn btn-primary" >Submit</button> 
                    </div>
                </div>
            </form>
        </div>
      </div>
    </div>
  </div>
</div>



<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
     {% for user in user %}
 $(document).ready(function(){
  $("#{{user.id}}").click(function(){
    $("#user").hide();
  });
  $("#{{user.id}}").click(function(){
    $("#user").show();
  });
});
$(document).ready(function(){
  $("#url").click(function(){
    $("#user").hide();
  });
  $("#url").click(function(){
    $("#user").show();
  });
});
{% endfor %}

</script>
{%endblock %}