   <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse slimscrollsidebar">
                <ul class="nav" id="side-menu">
                    <li class="sidebar-search hidden-sm hidden-md hidden-lg">
                        <!-- input-group -->
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="Search..."> <span class="input-group-btn">
            <button class="btn btn-default" type="button"> <i class="fa fa-search"></i> </button>
            </span> </div>
                        <!-- /input-group -->
                    </li>
                    
                    
                    <li> <a href="{% url 'ngo-dashboardpage' %}" class="waves-effect"><i class="linea-icon linea-basic fa-fw" data-icon="v"></i> <span class="hide-menu" > Dashboard <span class="fa arrow"></span> <span class="label label-rouded label-custom pull-right">1</span></span></a>
                        <ul class="nav nav-second-level">
                            <li> <a href="/dashboardpage">Dashboard</a> </li>
                        </ul>
                    </li>
                    <li> <a href="#" class="waves-effect"><i class="linea-icon linea-basic fa-fw" data-icon="v"></i> <span class="hide-menu" > Enquiry <span class="fa arrow"></span> <span class="label label-rouded label-custom pull-right">1</span></span></a>
                        <ul class="nav nav-second-level">
                            <li> <a href="/enquirylist">Enquiry</a> </li>
                        </ul>
                    </li>
                    <li> <a href="#" class="waves-effect "><i class="linea-icon linea-basic fa-fw" data-icon="v"></i> <span class="hide-menu"> Category <span class="fa arrow"></span> <span class="label label-rouded label-custom pull-right">2</span></span></a>
                        <ul class="nav nav-second-level">
                            <li> <a href="/categorylist">CategoryList</a> </li>
                        </ul>
                    </li>
                    <li> <a href="#" class="waves-effect "><i class="linea-icon linea-basic fa-fw" data-icon="v"></i> <span class="hide-menu"> Gallery <span class="fa arrow"></span> <span class="label label-rouded label-custom pull-right">1</span></span></a>
                        <ul class="nav nav-second-level">
                            <li> <a href="/categoryimagelist">Gallery</a> </li>
                            
                        </ul>
                    </li>
                    <li> <a href="#" class="waves-effect "><i class="linea-icon linea-basic fa-fw" data-icon="v"></i> <span class="hide-menu"> Project <span class="fa arrow"></span> <span class="label label-rouded label-custom pull-right">1</span></span></a>
                        <ul class="nav nav-second-level">
                            <li> <a href="/projectlist">Project</a> </li>
                            
                        </ul>
                    </li>

                    <li> <a href="#" class="waves-effect "><i class="linea-icon linea-basic fa-fw" data-icon="v"></i> <span class="hide-menu"> Volunteers <span class="fa arrow"></span> <span class="label label-rouded label-custom pull-right">1</span></span></a>
                        <ul class="nav nav-second-level">
                            <li> <a href="/volunteerslist">Volunteers</a> </li>        
                        </ul>
                    </li>

                    <li> <a href="#" class="waves-effect "><i class="linea-icon linea-basic fa-fw" data-icon="v"></i> <span class="hide-menu"> Blog <span class="fa arrow"></span> <span class="label label-rouded label-custom pull-right">1</span></span></a>
                        <ul class="nav nav-second-level">
                            <li> <a href="/blogcategorieslist">Category </a> </li>
                            <li> <a href="/tagslist">Tag </a> </li>
                            <li> <a href="/bloglist">Blog</a> </li>
                            
                           
                        </ul>
                    </li>
                    <li> <a href="#" class="waves-effect "><i class="linea-icon linea-basic fa-fw" data-icon="v"></i> <span class="hide-menu"> Hometestimonial <span class="fa arrow"></span> <span class="label label-rouded label-custom pull-right">1</span></span></a>
                        <ul class="nav nav-second-level">
                            <li> <a href="/hometestimoniallist">Hometestimonial</a> </li>
                            
                        </ul>
                    </li>
                    <li> <a href="#" class="waves-effect "><i class="linea-icon linea-basic fa-fw" data-icon="v"></i> <span class="hide-menu"> Banner <span class="fa arrow"></span> <span class="label label-rouded label-custom pull-right">1</span></span></a>
                        <ul class="nav nav-second-level">
                            <li> <a href="/bannerlist">Home Banner</a> </li>
                            <li> <a href="/aboutbannerlist">About us Banner</a> </li>
                            <li> <a href="/projectbannerlist">Project Banner</a> </li>
                            <li> <a href="/gallerybannerlist">Gallery Banner</a> </li>
                            <li> <a href="/volunteerbannerlist">volenteer Banner</a> </li>
                            <li> <a href="/contactbannerlist">Contact us Banner</a> </li>
                            <li> <a href="/checkoutbannerlist">Checkout Banner</a> </li>
                            
                        </ul>
                    </li>
                    <li> <a href="#" class="waves-effect "><i class="linea-icon linea-basic fa-fw" data-icon="v"></i> <span class="hide-menu"> About us <span class="fa arrow"></span> <span class="label label-rouded label-custom pull-right">1</span></span></a>
                        <ul class="nav nav-second-level">
                            <li> <a href="/aboutuslist">About</a> </li>
                            
                        </ul>
                    </li>
                    <!--
                    <li class="nav-small-cap m-t-10">---------Shopping------</li>
                    <li> <a href="#" class="waves-effect "><i class="linea-icon linea-basic fa-fw" data-icon="v"></i> <span class="hide-menu"> Shopping <span class="fa arrow"></span> <span class="label label-rouded label-custom pull-right">1</span></span></a>
                        <ul class="nav nav-second-level">
                            <li> <a href="{% url 'ngo-colorlist' %}">Color </a> </li>
                            <li> <a href="{% url 'ngo-productaddlist' %}">Product </a> </li>
                           
                            
                        </ul>
                    </li>
-->
            </div>
        </div>
