{% extends 'ngo/app3.html' %}


{%block content %}{% load static %}

<body>  
    <!-- Preloader -->
    <div class="preloader">
        <div class="cssload-speeding-wheel"></div>
    </div>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top m-b-0">
            <div class="navbar-header"> <a class="navbar-toggle hidden-sm hidden-md hidden-lg " href="javascript:void(0)" data-toggle="collapse" data-target=".navbar-collapse"><i class="ti-menu"></i></a>
                <div class="top-left-part"><a class="logo" href="dashboardpage"><b><img src="{%static 'images/favicon.jpg' %}" alt="home" weight="50" height="50" /></b><span class="hidden-xs"></span>NGO</a></div> 
        </nav>
        
                
       <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row bg-title">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">Tags</h4> </div>
                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12"> <a href="logout" target="_blank"     class="btn btn pull-right">Logout</a>
                            <ol class="breadcrumb">
                                <li><a href="passwordchange">Change password</a></li>
                            </ol>      
                        </div>
               
               </div> 
               
                <div class="row">
                    <div class="col-sm-12">
                        <div class="white-box">
                            
                            <a href="tags"  class="nav navbar-top-links navbar-right pull-right btn btn-primary">+</a><br><br><br> 
                            <div class="table-responsive">
                                <table id="myTable" class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Name</th>    
                                            <th>status</th>
                                            <th>Actions</th>  
                                        </tr>
                                    </thead>
                                    <tbody>
                                            {% for user in user %}  
                                            <tr> 
                                                <td>{{ user.Name }}</td>
                                                {%if user.status == 1 %}
                                                <td><a href="/taglistdeactive/{{ user.id }}" class="btn-primary">Active</a></td>
                                                {%else%}
                                                <td><a href="/taglistactive/{{ user.id }}" class="btn-danger">Deactive</a></td>
                                                {%endif%}
               
                                                <td>  
                                                    <a href="/tagsedit/{{ user.id }}"><span class="glyphicon glyphicon-pencil" ></span></a>  
                                                    <a href="/tagsdelete/{{ user.id }}"  onclick="return confirmation()">
                                                    <span class="glyphicon glyphicon-trash" ></span></a>  
                                                </td>  
                                            </tr>  
                                            {% endfor %} 
                                    </tbody>
                                </table>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
       </div>
   </div>
 <script type="text/javascript">
    
    function confirmation() {
      return confirm('Are you sure you want to do this?');
    }
</script>
{%endblock %}
