{% extends 'ngo/app3.html' %}


{%block content%}{%load static %}

<body>  
    <!-- Preloader -->
    <div class="preloader">
        <div class="cssload-speeding-wheel"></div>
    </div>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top m-b-0">
            <div class="navbar-header"> <a class="navbar-toggle hidden-sm hidden-md hidden-lg " href="javascript:void(0)" data-toggle="collapse" data-target=".navbar-collapse"><i class="ti-menu"></i></a>
                <div class="top-left-part"><a class="logo" href="dashboardpage"><b><img src="{%static 'images/favicon.jpg' %}" alt="home" weight="50" height="50" /></b><span class="hidden-xs"></span>NGO</a></div> 
        </nav>
        
                
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row bg-title">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">Tags</h4> </div>
                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12"> <a href="logout" target="_blank"     class="btn btn pull-right">Logout</a>
                            <ol class="breadcrumb">
                                <li><a href="passwordchange">Change password</a></li>
                            </ol>      
                        </div>
               
               </div> 
                
                <div class="row">
                     <div class="col-sm-12">
                        <div class="white-box">  
                           <form method="POST" class="post-form" action="/tagsupdate/{{employee.id}}" enctype="multipart/form-data">{% csrf_token %} 

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Name</label>
                                    <label for="title">    
                                        <input type="text" name="Name" class="form-control " required="" id="name" value="{{employee.Name}}"></input>
                                    </label>
                            </div>
                            {{form.errors.Name}}
                            
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Meta Title</label>
                                    <label for="meta_title">    
                                        <input type="text" name="meta_title" class="form-control " required="" id="meta_title" value="{{employee.meta_title}}"></input>
                                    </label>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Meta Keyword</label>
                                    <label for="meta_title">    
                                        <input type="text" name="meta_keyword" class="form-control " required="" id="meta_keyword" value="{{employee.meta_keyword}}"></input>
                                    </label>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Meta Description</label>
                                    <textarea class="form-control "  name="meta_description" value="{{employee.meta_description}}"></textarea> 
                            </div>
                            
                            
                            <div class="form-group row">  
                                <label class="col-sm-1 col-form-label"></label>  
                                <div class="col-sm-4">  
                                    <button type="submit" class="btn btn-primary" <a href="gallery">update</a></button> 
                                </div>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{%endblock %}


