<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<p>
	
    your password has been reset successfully Click here to <a href="{%url 'ngo-login' %}">Login</a> now.
   
  </p>

</body>
</html>