{% include 'ngosites/header.html' %}
{% load static %} 
    <div class="about-banner">
        {%for aboutban in aboutban %}
        <img src="{{ MEDIA_URL }}{{ aboutban.image_file }}" class="img-fluid w-100" alt="about-banner" title="">
        {%endfor%}
    </div>
    <div class="cust-container">
        <div class="ngo-abt">
            <h2> Welcome To Ngo </h2>
            <img src="{%static 'images/bottom.png' %}">
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="ngo-abt">
                    {%for about in about%}
                    <p>{{about.contenttext|safe}} </p>
                    {%endfor%}
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="ngo-abt">
                    <img src="{%static 'images/about-img.jpg' %}" alt="abt-img" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="ngo-team">
                    <div class="icon">
                        <i class="fa fa-file"></i>
                    </div>
                    <div class="team-content">
                       
                        <p> Complete</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="ngo-team">
                    <div class="icon">
                        <i class="fa fa-users"></i>
                    </div>
                    <div class="team-content">
                        
                        <p> Our Team</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="ngo-team">
                    <div class="icon">
                        <i class="fa fa-trophy"></i>
                    </div>
                    <div class="team-content">
                        
                        <p> Awards</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="ngo-team">
                    <div class="icon">
                        <i class="fa fa-male"></i>
                    </div>
                    <div class="team-content">
                       
                        <p>Volunteer</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ngo-volunteer">
        <div class="container">
            <div class="row">
                <div class="volunteer">
                    <h3>We Help Many <span>People</span></h3>
                    <h5>Want to Become a Volunteer</h5>
                    <p>Providing job opportunities based on their training.Creating women entrepreneurs by supporting them with the required training and finance assistance.To educate youth girls who are school dropouts by helping them to pass 8th and 10th standards.Supporting women to live a safe, secured and esteemed life in the society.</p>
                    <a class="volunteer-join " href="volunteers">join us now </a>
                </div>
            </div>
        </div>

    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="ngo-choose">
                    <h2>Why Choose Us</h2>
                    <img src="{%static 'images/bottom.png' %}">
                </div>
            </div>
            <div class="col-md-6">
                <div class="ngo-choose">
                    <p> To provide skill based training for women and youth girls, in the areas of computer, tailoring, nursing, driving, technician, aari work, embroidery, jewel making.Providing job opportunities based on their training.</p>

                    <iframe width="100%" height="315" src="https://www.youtube.com/embed/vNDrLjOmUY4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>


            <div class="col-md-6 col-sm-12">
                <div class="ngo-accordion">
                    <div class="accordion" id="accordionExample">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h2 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Collapsible Group Item #1</button>
                                </h2>
                            </div>

                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h2 class="mb-0">
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"> Collapsible Group Item #2</button>
                                </h2>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingThree">
                                <h2 class="mb-0">
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Collapsible Group Item #3 </button>
                                </h2>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
    <div class="container">
        <div class="ngo-partner">
            <h2> Latest Blog </h2>
            <img src="{%static 'images/bottom.png' %}">
        </div>
        <div class="row">
             {% for blogss in blogss|slice:"3" %} 
        <div class="col-md-4">
                        <div class="blog-half">
                            <div class="blog-img">
                                <a href="blogs"><img src="{{ MEDIA_URL }}{{ blogss.image_file }}" class="img-fluid" alt="blog-img"></a>
                            </div>
                        </div>
                        <div class="blog-heading">
                            <h4>  {{blogss.title}} </h4>
                            <h5>  Posted on {{blogss.updated_at}}  </h5>
                        </div>
                        <div class="about-txt">
                            <p> {{blogss.description|safe|slice:"200" }} </p>
                        </div>
                        <div class="view-read">
                            <a href="blog/{{blogss.slug}}"><button class="btn view-btn"> Read more</button></a>
                        </div>
                       
                    </div>
                   {%endfor%}  
        </div>
    </div>


   {% include 'ngosites/footer.html' %}
