<div class="tab-content product">
                        <div id="home" class="container tab-pane active"><br>
                         {%for proadds in  proadds.productcolorimage_set.all %}
                            <img src={{ MEDIA_URL }}{{ proadds.image }}>
                            {%endfor%}
                            <a href="addtocart/{{ proadds.id }}" name="" ><i class="fa fa-shopping-cart"></i> Add To Cart</a>
                             
                            <ul>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star rate"></i></li>
                            </ul>
                            <p>Tassel Detail PU Bag</p>
                            <ul>
                             
                                <li><i class="fa fa-rupee"></i>{{proadds.price}}</li>
                               
                            </ul>
                            
                        </div>
                      
                    </div>