{% include 'ngosites/header.html' %}
{% load static %}
    
    <div class="about-banner">
    {%for checkoutban in checkoutban %}
        <img src="{{ MEDIA_URL }}{{ checkoutban.image_file }}" class="img-fluid w-100" alt="about-banner" title="">
        {%endfor%}
        </div>
     <!--
    <div class="container-fluid checkout-css">
        <div class="row">
        <div class="col-md-8">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="ngo-checkout">
                        <h2> Checkout </h2>
                    </div>
                </div>
            </div>
           
           {%for data in data%}
            <div class="row">
                {%if not data%}
                <center>There is no product</center> 
                {%else%} 
                <div class="col-md-1">
                    <div class="check-img trash-css">
                        <ul>
                           
                            <li class="trash">
                             <a href="/productremove/{{ data.id }}" class="fa fa-trash" aria-hidden="true" onclick="return confirmation()"></a>  
                            </li>
                        </ul>
                    </div>
                </div>
                
                <div class="col-md-3">
                    <div class="check-img ">
                        <h4>Products</h4>
                        <ul>
                            <li>
                                <img src={{ MEDIA_URL }}{{ data.image }}>
                            </li>
                            <li>Tassel Detail PU Bag</li>
                        </ul>
                    </div>
                </div>
                
            <div class="col-md-3">
                <div class="product-price">
                    <ul>
                        <div class="test">
                            
                            {%for proadds in proadds%}

                            {%if proadds.id == data.product_id%}
                            <label>Price</label>
                            <input type="text"  name="price{{data.id}}" class="form-control" id="price{{data.id}}"  placeholder="Prices"  onkeypress="phoneno()" maxlength="6" value="{{proadds.price}}" readonly>
                        </div>
                    </ul>
                </div>
            </div>
                 
                    <a href="/productremove/{{ data.id }}" onclick="return confirmation()">Remove</a>
                 
                <div class="col-md-2">
                    <div class="product-quantity">
                        <form method="POST" action="" enctype="multipart/form-data">{% csrf_token %} 
                        <h4>Quantity</h4>
                        <div class="center">
                            <div class="input-group">
                                <input type="hidden" name="ids" id="{{data.id}}" value="{{data.id}}">
                                <span class="input-group-btn">
              <button type="button" class="btn btn-default btn-number quantity-minusbtn" disabled="disabled" data-type="minus" id="minus" onclick="setTotalCost({{data.id}})"  data-field="quantity{{data.id}}">
                  <span class="glyphicon glyphicon-minus quantity-minus"><i class="fa fa-minus"></i></span>
                                </button>
                                </span>
                                <input type="text" name="quantity{{data.id}}" id="quantity{{data.id}}" onblur="setTotalCost({{data.id}})" class="form-control input-number quantity-number" value="0" min="1" max="10" readonly>
                                <span class="input-group-btn">
              <button type="button" class="btn btn-default btn-number quantity-plusbtn" data-type="plus" id="plus" onclick="setTotalCost({{data.id}})" data-field="quantity{{data.id}}">
                  <span class="glyphicon glyphicon-plus quantity-minus"><i class="fa fa-plus"></i></span>
                                </button>
                                </span>
                        </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
                    <div class="product-price">
                        <ul>
                            <div class="test1">
                            <label>Amount</label>
                            <input type="text" name="amount"   placeholder="Total Amount" data-row="0" value="0" id="amount{{data.id}}"  class="form-control" required="" onblur="findTotal({{data.id}})" readonly>
                        </div>                        </ul>
                    </div>
                </div>
                 {%endif%}
            {%endfor%}
        {%endif%}                
    </div> 
    {%endfor%}

    <div>
          <div class="col-md-6">
              
          </div>
           <div class="col-md-4 right">
            <div class="row">
                <div class="col-md-6"><h4 class="subtotal">Subtotal:</h4>
                </div>


                <div class="col-md-6">
                    <input type="text"  id="total"  name="total" readonly>
                    </div>  
                </div>
            </div>
        </div>



<div class="col-md-6">
        <div class="contact-area ">
    <div class="container">
                          <h2 class="shipping-css">Enter Your Shipping Details </h2>

        <div class="form-area bg">
                <div class="row">
                    <div class="col-md-12">
                        <input type="text" class="form-control" id="name" placeholder="Name" required="" name="name">
                    </div>
                    <div class="col-md-12">
                        <input type="email" class="form-control" id="email" placeholder="Email" required="" name="email">
                    </div>
                    <div class="col-md-12">
                        <input type="text" class="form-control" id="phone_no" placeholder="Phone" required="" name="phone_no">
                    </div>
                    <div class="col-md-12">
                       <textarea rows = "5" cols = "50" class="form-control" id="" placeholder="Enter Your Address" required="" name="address">
                        </textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
                    <div class="col-12 text-center cont-subj">
                        <button type="submit" id=""   onclick="buttonSubmitClicked(event)" class="contact-submit"> Submit </button>
                    </div>
            </form>
        </div>
    </div>   
</div>
</div>

            



            
            
    
   


    
          
            <!--
            <div class="row">
                <div class="col-md-4">
                    <div class="check-img">
                        <ul>
                            <li>
                                <img src="images/product2.png">
                            </li>
                            <li>Tassel Detail PU Bag</li>
                        </ul>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="product-quantity">
                        <form>
                            <div class="value-button" id="decrease" onclick="decreaseValue()" value="Decrease Value">-</div>
                            <input type="number" id="number1" value="1" />
                            <div class="value-button" id="increase" onclick="increaseValue()" value="Increase Value">+</div>
                        </form>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="product-price">
                        <ul>
                            <li><i class="fa fa-rupee"></i> 500.00</li>
                        </ul>
                    </div>
                </div>
            </div>
-->







            <!--
                <div class="col-md-6">
                    <div class="ngo-checkout">
                        <h2>Payment Method</h2>
                    </div>
                    <div class="creditcard">
                        <img src="images/product1.png">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="payment">
                        <div class="form">
                            <form action="" method="get">
                                <label for="cardnumber">Card Number</label>
                                <input type="text" id="cardnumber" placeholder="1234 5678 9012 3456">
                                <label for="cardholder">Card Holder</label>
                                <input type="text" id="cardholder" placeholder="John Doe">
                                <label for="exp">Expiration Date</label>
                                <div class="date">
                                    <select name="month" id="month">
                <option value="january">January</option>
                <option value="february">February</option>
                <option value="march">March</option>
                <option value="april">April</option>
                <option value="may">May</option>
                <option value="june">June</option>
                <option value="july">July</option>
                <option value="august">August</option>
                <option value="september">September</option>
                <option value="october">October</option>
                <option value="november">November</option>
                <option value="december">December</option>
              </select>
                <select name="Year">
                <option value="2019">2019</option>
                <option value="2020">2020</option>
                <option value="2021">2021</option>
                <option value="2022">2022</option>
                <option value="2023">2023</option>
                <option value="2024">2024</option>
                <option value="2025">2025</option>
              </select>
                                </div>
                                <div class="small">
                                    <div class="cvc">
                                        <label for="cvc">CVC</label>
                                        <input type="text" id="cvc" maxlength="3" size="4" placeholder="123">
                                    </div>
                                    <p>Three or four digits, usually found on the back of the card</p>
                                </div>
                                <a href="#">Proceed</a>
                            </form>
                        </div>
                    </div>
                </div>

<script>
    function buttonSubmitClicked() {
        var timetemp = document.getElementsByName('amount');

for (var i = 0; i < timetemp.length; i++){
    if (timetemp[i].value == 0){
        alert ('Please enter How many products you want');
    }
    
}
    }
</script>

<script type="text/javascript">
   
    function confirmation() {
      return confirm('Are you sure you want to do this?');
    }
</script>


<script>
    function setTotalCost(n){
        setTimeout(()=>{
            var p = $('#price'+n).val();
            var q = $('#quantity'+n).val();
            var totalAmount = p * q;
            $("#amount"+n).val(totalAmount.toFixed(2));


            var inputs = document.getElementsByName('amount'),
        result = document.getElementById('total'),
        sum = 0;            
    
    for(var i=0; i<inputs.length; i++) {
        var ip = inputs[i];
    
        if (ip.name.indexOf("total") < 0) {
            sum += parseInt(ip.value) || 0;
        }
    
    }
    result.value = sum;
        },300);   
        //$("#amount"+n).val(totalAmount.toFixed(2));
    }
</script>

<script type="text/javascript">    
    function confirmation() {
      return confirm('Are you sure you want to remove this?');
    }
</script>

 <script type="text/javascript">
function findTotal(n)
{   
    var arr = document.getElementsByName('amount'+n);
    var tot=0;
    for(var i=0;i<arr.length;i++){
        if(arr[i].value)
            tot += arr[i].value;
    }
    document.getElementById('total').value = tot;
}
</script>
-->
    <div style="margin-left: -400px;">
        <script src="https://danamojo.org/dm/js/widget.js" type="text/javascript"></script>
        <script>setTimeout(function(){ if(document.getElementById("ngoContentContainer").innerHTML.length < 40){ document.getElementById("ngoContentContainer").innerHTML="<center> <p style='color:#a94442;'>we are sorry that our systems are down. we will be up shortly. apologies for the inconvenience.</p></center>";}},20000); </script>
        <div id="dmScriptContainer" style="display:none;"><a href="#">Donate Now</a></div>
        <div id="ngoContentContainer" iNGOId="711" oDisplay="product"><center><img alt="please wait....." src="https://danamojo.org/dm/css/images/loading.gif"/></center></div>    
        </script>
    </div>

{% include 'ngosites/footer.html' %}    
