{% include 'ngosites/header.html' %}
{% load static %}
<div class="about-banner">
    {%for contactban in contactban %}
        <img src="{{ MEDIA_URL }}{{ contactban.image_file }}" class="img-fluid w-100" alt="about-banner" title="">
        {%endfor%}
        </div>

<div class="contact-bg">
    <h2> Contact us </h2>
    <img src="{%static 'images/bottom.png' %}">
    <div class="row no-gutters">

        <div class="col-lg-6 col-md-12">
            <div class="contact-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3886.468755972686!2d80.16637331527046!3d13.069451216258653!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a52615cf9b5c855%3A0xbb222d097bc37923!2sDABC+Mithilam+Apartments!5e0!3m2!1sen!2sin!4v1554784388762!5m2!1sen!2sin" width="100%" height="480" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-lg-6 col-md-12">
            <div class="contact-address">
                <div class="footer-location">
                    <h3> Visit us </h3>
                    <img src="{%static 'images/bottom1.png' %}">
                    <ul>
                        <li><span> <i class="fa fa-map-marker"></i></span> ADDRESS <span class="address"> : </span> 1B11, Mithilam Apts,Sriramnagar Main Road,Nolombur, <br>Chennai-600 095.

                        </li>
                        <li><span> <i class="fa fa-phone"></i></span> PHONE <span class="add-phone"> : </span>+91 9445947287</li>
                        <li><span> <i class="fa fa-envelope"></i></span> EMAIL <span class="add-mail"> : </span> rajeshwari5776@gmail.com</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

                    
<div class="contact-area">
    <div class="container">
        <h2> Get In Touch With us </h2>
        <img src="{%static 'images/bottom.png' %}">
        <div class="form-area">
            <form method="POST" action="">{% csrf_token %} 
                <div class="row">
                    <div class="col-md-6">
                        <input type="text" class="form-control" id="name" placeholder="Name" name="name">
                    </div>
                    <div class="col-md-6">
                        <input type="email" class="form-control" id="email" placeholder="Email" name="email">
                    </div>
                    <div class="col-md-6">
                        <input type="text" class="form-control" id="phone" placeholder="Phone" name="phone">
                    </div>
                    <div class="col-md-6">
                        <input type="text" class="form-control" id="" placeholder="Subject" name="subject">
                    </div>
                    <div class="col-md-12">
                        <textarea name="msg" class="text-are" id="msg" placeholder="Message"></textarea>
                    </div>
                    <div class="col-12 text-center cont-sub">
                        <button type="submit" id="" class="contact-submit"> Submit </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% include 'ngosites/footer.html' %}