<div class="footer-bg">{% load static %}
    <div class="cust-container">
        <div class="row">
            <div class="col-lg-4 col-md-12">
                <div class="abt-ftr">
                    <img src="{%static 'images/footer-logo.jpg' %}">
                    <p>To inspire and motivate women and youth to become more than conquerors of all barriers.
Empower them and improve their understanding, so they in turn share and serve.A future where the opportunities, possibilities and dreams are the same for all women and youth, regardless of sexual orientation or gender identity.
</p>
                    <ul class="social-icon">
                        <li>
                            <a href="#" title="facebook"> <i class="fa fa-facebook"></i> </a>
                        </li>
                        <li>
                            <a href="#" title="twitter"> <i class="fa fa-twitter"></i> </a>
                        </li>
                        <li>
                            <a href="#" title="instagram"> <i class="fa fa-instagram"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="abt-ftr1">
                    <h5> newsletter </h5>
                    <img src="{%static 'images/bottom1.png' %}">
                    <div class="ngo-mail">
                        <input type="text" class="form-control" placeholder="E-mail" name="email">
                    </div>
                    <div class="col-12 text-center">
                        <button type="submit" id="" class="btn btn-sub"> SUBSCRIBE </button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="abt-ftr1">
                    <h5> Contact Us </h5>
                    <img src="{%static 'images/bottom1.png' %}">
                    <p>1B11, Mithilam Apts, Sriramnagar Main Road, Nolombur, Call Us: +91 9445947287
                     Email Us: rajeshwari5776@gmail.com Chennai-600 095.</p>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="footer-menu">
                    <ul>
                        <li> <a href="/index"> Home </a></li>
                        <li> <a href="/about"> About Us </a></li>
                        
                        <li> <a href="/project"> Projects </a></li>
                        <li> <a href="/gallery"> Gallery </a></li>
                        <li> <a href="/blogs"> Blog </a></li>
                       
                        <li> <a href="/contact"> Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="ftr-down">
        <p> © 2019 All rights reserved. Design by <span> Ninositsolution </span></p>
    </div>

</div>
</body>

<script src="{%static 'js/jquery.js' %}"></script>
<script src="{%static 'js/bootstrap.min.js' %}"></script>
<script src="{%static 'js/owl.carousel.js' %}"></script>
<script src="{%static 'js/wow.min.js' %}"></script>
<script src="{%static 'js/lightbox.js' %}"></script>
<script src="{%static 'js/gallery.js' %}"></script>
<script src="{%static 'js/quantity.js' %}"></script>

<script>
    $('.owl-testi').owlCarousel({
        loop: true,
        margin: 10,
        nav: true,
        autoplay: true,
        autoplayTimeout: 5000,
        responsive: {
            0: {
                items: 1
            },
            600: {
                items: 3
            },
            1000: {
                items: 5
            }
        }
    })

</script>
<script>
    $('.add').click(function() {
        if ($(this).prev().val() < 10) {
            $(this).prev().val(+$(this).prev().val() + 1);
        }
    });
    $('.sub').click(function() {
        if ($(this).next().val() > 1) {
            if ($(this).next().val() > 1) $(this).next().val(+$(this).next().val() - 1);
        }
    });

</script>

</html>
