{% include 'ngosites/header.html' %}
{% load static %}
     <div class="about-banner">
    {%for galleryban in galleryban %}
        <img src="{{ MEDIA_URL }}{{ galleryban.image_file }}" class="img-fluid w-100" alt="about-banner" title="">
        {%endfor%}
        </div>
    <div class="container">
        <div class="row">
            <div class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h2 class="gallery-title">Gallery</h2>
                <img src="{%static 'images/bottom.png' %}">
            </div>

            <div class="col-md-12 text-center">
                <button class="btn btn-default filter-button" onClick="reply_click(0)" data-filter="all">All</button>
                {% for categoryname in categoryname %}
                <button class="btn btn-default filter-button" id="{{categoryname.id}}" name="category_id"  data-filter="cat{{categoryname.id}}" >{{categoryname.name}}</button>
                {% endfor %} 
            </div>
            <br/>

            {% for accountimage in accountimage %}
            <div id="gallery-div" class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter cat{{accountimage.category_id}} all">
                <div class="gallery-list">
                    <a href="{{ MEDIA_URL }}{{ accountimage.image_file }}" data-lightbox="image-1" class="lightbox-image image-link">
                        <img src={{ MEDIA_URL }}{{ accountimage.image_file }} alt="" class="w-100 img-fluid">
                        <div class="overlay-box">
                            <div class="overlay-inner">
                                <div class="content">
                                    <span class="icon fa fa-plus"></span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
       

            {% endfor %} 
             </div>
    </div>

<script>
    function reply_click(category_id)
    {
        $.ajax({
                url: '{% url "filter-gallery" %}',
                data: {
                  'category_id': category_id
                },
                success: function (data) {
                    $("#gallery-div").html(data);  
                }
              });
    }
  </script>



 {% include 'ngosites/footer.html' %}
