<!DOCTYPE html>
<html lang="en">

{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ngo</title>
    <link rel="icon" href="{%static 'images/logo.jpg' %}">
    <link rel="stylesheet" href="{%static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{%static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{%static 'css/animate.min.css' %}">
    <link rel="stylesheet" href="{%static 'css/owl.carousel.css' %}">
    <link rel="stylesheet" href="{%static 'css/style.css' %}">
    <link rel="stylesheet" href="{%static 'css/query.css' %}">
    <link rel="stylesheet" href="{%static 'css/lightbox.css' %}">
</head>

<body>
    <div class="header-top">
        <div class="cust-container">
            <div class="find-women">
                <div class="row">
                    <div class="col-lg-5 col-md-12 col-sm-12">
                        <div class="header-top-info">
                            <ul>
                                <li> <i class="fa fa-phone"></i><span> +91 9445947287 </span></li>
                                <li> <i class="fa fa-envelope"></i><span> rajeshwari5776@gmail.com </span></li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-12 col-sm-12">
                        <div class="header-donate">
                            <a href="/checkout"> Donate Now </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="header-top-social">
                            <ul>
                                <li> <i class="fa fa-facebook"></i> </li>
                                <li> <i class="fa fa-twitter"></i> </li>
                                <li> <i class="fa fa-instagram"></i> </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="cust-container">
        <div class="row">
            <div class="col-lg-4 col-md-12">
                <div class="logo">
                    <a class="logo" href="index"> <img src="{%static 'images/logo.jpg' %}" alt="logo" class="img-fluid"> </a>
                </div>
            </div>
            <div class="col-lg-8 col-md-12">
                <nav class="navbar navbar-expand-md navbar-light bg-light">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

                    <div class="custom-nav collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav">
                            <li class="nav-item {% if request.resolver_match.url_name == 'ngosites-index' %}active{% endif %}">
                                <a class="nav-link" href="/index">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item {% if request.resolver_match.url_name == 'ngosites-about' %}active{% endif %}">
                                <a class="nav-link" href="/about">About us</a>
                            </li>
                            <!--
                            <li class="nav-item {% if request.resolver_match.url_name == 'ngosites-products' %}active{% endif %}">
                                <a class="nav-link" href="{% url 'ngosites-products' %}">Products</a>
                            </li>
                        -->
                            <li class="nav-item {% if request.resolver_match.url_name == 'ngosites-project' %}active{% endif %}">
                                <a class="nav-link" href="/project">Projects</a>
                            </li>
                            <li class="nav-item {% if request.resolver_match.url_name == 'ngosites-volunteers' %}active{% endif %}">
                                <a class="nav-link" href="/volunteers">Volunteers</a>
                            </li>
                            <li class="nav-item {% if request.resolver_match.url_name == 'ngosites-gallery' %}active{% endif %}">
                                <a class="nav-link" href="/gallery">Gallery</a>
                            </li>
<!--
                            <li class="nav-item">
                                <a class="nav-link" href="#">Blog</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Audit Report</a>
                            </li>
-->
                            <li class="nav-item {% if request.resolver_match.url_name == 'ngosites-contact' %}active{% endif %}">
                                <a class="nav-link" href="/contact">contact us</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/checkout"><img src="{%static 'images/cart.png' %}"></a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>

        </div>
    </div>
