{% include 'ngosites/header.html' %}
{% load static %}
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            {%for ban in ban%}
            {% if forloop.counter == 1 %}
            <li data-target="#carouselExampleIndicators" data-slide-to="{{forloop.counter}}" class="active"></li>
       
            {%else%}
            <li data-target="#carouselExampleIndicators" data-slide-to="{{forloop.counter}}"></li>
           
            {%endif%}
            {%endfor%}
        </ol>
        <div class="ngo-banner carousel-inner">
            {%for ban in ban%}
            {% if forloop.counter == 1 %}
            <div class="carousel-item active">
                <img src="{{ MEDIA_URL }}{{ ban.image_file }}" alt="banner1" class="img-fluid">
            </div>
            {%else%}
            <div class="carousel-item ">
                <img src="{{ MEDIA_URL }}{{ ban.image_file }}" alt="banner1" class="img-fluid">
            </div>
            {%endif%}
            
 {%endfor%}
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
    </div>

    <div class="cust-container">
        <div class="ngo-abt">
            <h2> About us </h2>
            <img src="{%static 'images/bottom.png' %}">
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="ngo-abt">
                   {%for about in about %}
                    <p>{{about.contenttext|safe}}</p>
                    {%endfor%}
                    <a href="{% url 'ngosites-about' %}"> Meet Our Teams </a>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="ngo-abt">
                    <img src="{%static 'images/about-img.jpg' %}" alt="abt-img" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="abt-vission">
                    <img src="{%static 'images/vission.png' %}">
                    <h4> Our Vission </h4>
                    <p> A future where the opportunities, possibilities and dreams are the same for all women and youth, regardless of sexual orientation or gender identity.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="abt-vission">
                    <img src="{%static 'images/mission.png' %}">
                    <h4> Our Mission </h4>
                    <p> To inspire and motivate women and youth to become more than conquerors of all barriers. Empower them and improve their understanding, so they in turn share and serve.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="abt-vission">
                    <img src="{%static 'images/objects.png' %}">
                    <h4> Our Objectives </h4>
                    <p> To provide skill based training for women and youth girls, in the areas of computer, tailoring, nursing,driving,technician,aari work,embroidery,jewel making.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="project-bg">
        <div class="ngo-project">
            <h2> Projects </h2>

            <img src="{%static 'images/bottom1.png' %}">
        </div>
        {%for projectdata in projectdata %}
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="ngo-project">
                        <p>{{projectdata.contenttext|safe|slice:"800"}}</p>
                        <a href="project"> View More </a>
                    </div>
                </div>
               

                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="ngo-projects">
                    <img src="{{ MEDIA_URL }}{{ projectdata.image_file }}" alt="project1" class="img-fluid">
                                    <div class="img-link">
                                        <a href="{{ MEDIA_URL }}{{ projectdata.image_file }}" data-lightbox="image-1" class="lightbox-image image-link" title=""> <i class="fa fa-plus"></i> </a>
                                    </div>
                                    <div class="img-links">
                                        <a href="project"> <i class="fa fa-link"></i> </a>
                                    </div>
                     </div>
</div>
  {% endfor %}
            </div>
        </div>
    </div>
    <div class="testimonial text-center">
        <h2>Testimonials</h2>
        <img src="/ngo/ngoapp/ngo/static/images/bottom.png">
    </div>    
        <div class="container">
            <div class="row no-gutters">
                <div id="carouselTestimonial" class="carousel carousel-testimonial slide" data-ride="carousel">
                    <div class="carousel-inner testimonial-ngo">
                    {%for testimonial in testimonial%}
                    {% if forloop.counter == 1 %}
                        <div class="carousel-item test-client text-center active">
                            <img src="{{ MEDIA_URL }}{{ testimonial.image_file }}">
                            <p>{{testimonial.contenttext|safe}}</p>
                        </div>
                    {% else %}    
                        <div class="carousel-item text-center test-client">
                            <img src="{{ MEDIA_URL }}{{ testimonial.image_file }}">
                            <p>{{testimonial.contenttext|safe}}</p>
                        </div>
                        {%endif%}
                        {%endfor%}
                    </div>
                    
                    {%for testimonial in testimonial%}
                    {% if testimonial.image_file %}
                    <a class="carousel-control-prev test-prev" href="#carouselTestimonial" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
                    <a class="carousel-control-next test-next" href="#carouselTestimonial" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
        {%endif%}
        {%endfor%}
                </div>
            </div>
        </div>

    <!--<div class="cust-container">-->
    <!--    <div class="ngo-partner">-->
    <!--        <h2> Our Partners </h2>-->
    <!--        <img src="{%static 'images/bottom.png' %}">-->
    <!--        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat facilis commodi dolor ullam aliquid molestias inventore sit possimus error, incidunt excepturi quasi natus aliquam adipisci nulla labore nam autem hic.</p>-->
    <!--    </div>-->
    <!--        <div class="ngo-partners text-center">-->
    <!--            <div class="owl-carousel owl-testi">-->
    <!--                <div class="item">-->
    <!--                    <img src="{%static 'images/partner1.png' %}">-->
    <!--                </div>-->
    <!--                <div class="item">-->
    <!--                    <img src="{%static 'images/partner1.png' %}">-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--</div>-->
<!--
        <div class="row">
            <div class="ngo-partner">
                <div class="owl-carousel owl-theme">
                    <div class="item">
                        <img src="images/partner1.png">
                    </div>
                    <div class="item">
                        <img src="images/partner1.png">
                    </div>
                    <div class="item">
                        <img src="images/partner1.png">
                    </div>
                    <div class="item">
                        <img src="images/partner1.png">
                    </div>
                    <div class="item">
                        <img src="images/partner1.png">
                    </div>
                </div>
            </div>
        </div>
-->
    <div class="buy-now-bg">
        <div class="row no-gutters">
            <div class="col-lg-8 col-md-12 col-sm-12">
                <div class="buy-now">
                    <p>Join your hand with us for a better life and beautiful future.</p>
                </div>
            </div>
            <div class="ngo-buy">
                <a href="/checkout"> Donate Now </a>
            </div>
        </div>
    </div>
{% include 'ngosites/footer.html' %}
