{% include 'ngosites/header.html' %}
{% load static %}
<div class="about-banner">
    <img src="{%static 'images/contact-banner.jpg' %}" class="img-fluid w-100" alt="about-banner" title="">
</div>
<div class="container">
    <div class="ngo-abt">
        <h2> TRENDING PRODUCTS </h2>
        <img src="{%static 'images/bottom.png' %}">
    </div>
    <div class="row">
   {%with i=0%}
    {%for proadds in proadds %}
        <div class="col-lg-6 col-md-12">
            <div class="ngo-product">
                <ul class="nav nav-pills" role="tablist"> 
                    {%for proadds in  proadds.productcolorimage_set.all %}
                        {%for pro in  pro %}
                            {%if pro.id == proadds.color_id%}
                                {% if forloop.counter == 1 %}
                                <li class="nav-item active">
                                    <a class="nav-link active" data-toggle="pill" name="category_id" href="#cat{{proadds.id}}"  ><i style="color:{{pro.color}}"; class="fa fa-circle {{pro.color}}"  title="{{pro.name}}"></i></a>
                                </li>
                                {%else%}    
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="pill" name="category_id" href="#cat{{proadds.id}}"  ><i style="color:{{pro.color}}"; class="fa fa-circle {{pro.color}}"  title="{{pro.name}}"></i></a>
                                </li>
                                {%endif %}
                            {%endif %}
                        {%endfor%}
                        {%for data in data%}
                            {%if proadds.id == data.id%}     
                            <a href="/choosingproductremove/{{ data.id }}" onclick="return confirmation()">Remove</a> 
                            {%endif %}
                        {%endfor%}
                    {%endfor%}
                </ul>
                <div  class="tab-content product">
                {%for proadds in  proadds.productcolorimage_set.all %}
                    {% if forloop.counter == 1 %}
                    <div id="cat{{proadds.id}}" class="container tab-pane active"><br>
                        <img src={{ MEDIA_URL }}{{ proadds.image }}>
                        <a href="addtocart/{{ proadds.id }}" name="" ><i class="fa fa-shopping-cart"></i> Add To Cart</a>   
                    </div>
                    {%else%}
                    <div id="cat{{proadds.id}}" class="container tab-pane fade "><br>
                        <img src={{ MEDIA_URL }}{{ proadds.image }}>
                        <a href="addtocart/{{ proadds.id }}" name="" id="file"><i class="fa fa-shopping-cart"></i> Add To Cart</a>

                    </div>
                    {%endif %}
                    {%endfor%}
                        <ul>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star rate"></i></li>
                        </ul>
                        <p>Tassel Detail PU Bag</p>
                        <ul>
                            <li><i class="fa fa-rupee"></i>{{proadds.price}}</li>
                        </ul>      
                </div>
            </div>
        </div>
    {%endfor%}
    </div>
</div>
{%endwith%}

<script>
function reply_click(category_id)
{
    $.ajax({
            url: '{% url "filter-gallery" %}',
            data: {
              'category_id': category_id
            },
            success: function (data) {
                $("#home-div").html(data);  
            }
          });
alert(category_id)           
}
</script>

<script type="text/javascript">
    function confirmation() {
        return confirm('Are you sure you want to do this?');
    }
</script>
{% include 'ngosites/footer.html' %}