{% include 'ngosites/header.html' %}
{% load static %}
<div class="about-banner">
    <img src="{%static 'images/contact-banner.jpg' %}" class="img-fluid w-100" alt="about-banner" title="">
</div>


<div class="contact-area">
    <div class="container">
        <h2> Delivery details</h2>
        <img src="{%static 'images/bottom.png' %}">
        <div class="form-area">
            <form method="POST" action="">{% csrf_token %} 
                <div class="row">
                    <div class="col-md-6">
                        <input type="email" class="form-control" id="email" placeholder="Email" name="email">
                    </div>
                    <div class="col-md-6">
                        <input type="text" class="form-control" id="phone_no" placeholder="Phone" name="phone_no">
                    </div>
                    <div class="col-md-12">
                        <textarea name="address" class="text-are" id="address" placeholder="address"></textarea>
                    </div>
                    <div class="col-12 text-center cont-sub">
                        <button type="submit" id="" class="contact-submit"> Submit </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% include 'ngosites/footer.html' %}
