{% include 'ngosites/header.html' %}
{% load static %}
    <div class="about-banner">
    {%for projectban in projectban %}
        <img src="{{ MEDIA_URL }}{{ projectban.image_file }}" class="img-fluid w-100" alt="about-banner" title="">
        {%endfor%}
        </div>
    <div class="container">
        <div class="ngo-abt">
            <h2> Our Projects </h2>
            <img src="{%static 'images/bottom.png' %}">
        </div>
        <div class="row">
            {%for projectdata in projectdata %}
            <div class="col-lg-6 col-md-12">
                <div class="ongoing-project">
                    <h4>{{projectdata.title}}</h4>
                    <p>{{projectdata.contenttext|safe}}</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="ongoing-project">
                    <img src="{{ MEDIA_URL }}{{ projectdata.image_file }}" alt="ongoing" class="img-fluid">
                </div>
            </div>
            {%endfor%}
        </div>
    </div>        
{% include 'ngosites/footer.html' %}